@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  
  header {
    @apply fixed flex w-full p-3 transition-all;
  }
  
}

.hero {
  background-image: linear-gradient(180deg, rgba(11, 9, 27, 0.31) 0%, #0B091C 100%), url('/img/Ruin.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




