
.backgroundImage {
background:
url(
"/images/landingBackground.jpg");
background-size: "cover";
height:100%;
font-size:25px;
background-repeat:no-repeat;
color:#fff;
}

.nftText{
  padding-top:350px ;
  padding-right: 760px;
}
.buttonparent{
  display:flex;
}
.buttonchildren{
 flex: 1;
 list-style: none;
}
.createButton{
  background: linear-gradient(180deg, #5429E1 0%, #441EBF 100%);
  height: 74px;
  width: 307px;
  left: 331px;
  top: 0px;
  border-radius: 71px;
  Fill: Linear Gradient(#5429E1 0%, #441EBF 100%);
  Font-family: DM Sans;
  Font-style: Bold;
  Font-size: 24px;
  Line-height: 31px;
  Line-height: 100%;
  text-align: center;
  vertical-align: Top;
   margin:auto;
   margin-left: 40%;
}

.exploreButton{
  background: rgba(255, 255, 255, 1);
  fill:#fff;
  height: 74px;
  width: 307px;
  left: 331px;
  top: 0px;
  border-radius: 71px;
  Font-family: DM Sans;
  Font-style: Bold;
  Font-size: 24px;
  text-align: center;
  Line-height: 31px;
  Line-height: 100%;
  Vertical-align: Top;
  margin:auto; 
  margin-left: 40%; 
}