.body{
    color:black;
    text-align: center;
}

.parent {
  display: flex;
  align-items: flex-start;
}

.children{
  flex: 1;
  padding: 10px;
  color:white;
  list-style-type:none;
  text-align: center;
  line-height: 15px;
  font-size: 30px;
}

.hero{
     flex: 1;
  padding: 10px;
}

.child{
 flex: 1;
  padding: 10px;
  color:white;
  list-style-type:none;
}

